.about_company {
  @include max-width-blocks;
  margin-top: var(--block-indentation);

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-wrapper {
      display: flex;
      position: relative;
    }
  }

  &__left {
    position: sticky;
    top: 120px;
    flex: 1;
    max-width: 500px;
    margin-right: 52px;
    height: fit-content;
  }

  &__title {
    @include title;
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 25px;
  }

  &__text {
    font-size: var(--font-size-text);
    font-weight: 300;
    margin-bottom: 25px;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__right {
    flex: 1;

    .timeline {
      display: flex;
      flex-direction: column;
      gap: 40px;

      &__item {
        @include center;
      }

      &__year {
        text-transform: uppercase;
        width: 25%;
        min-width: 165px;
        text-align: left;
        margin-right: 32px;
        text-wrap: nowrap;
        font-size: var(--font-size-year);
        font-weight: 300;
      }

      &__text {
        width: 75%;
        font-size: var(--font-size-text);
        font-weight: 300;
      }
    }
  }
}
@media (max-width: 920px) {
  .about_company {
    .timeline {
      gap: 20px;
      &__item {
        align-items: baseline;
        flex-direction: column;
      }
      &__text{
        width: 100%;
      }
    }
  }
}
@media (max-width: 640px) {
  .about_company {
    &__content {
      &-wrapper {
        display: block;
      }
    }
    &__right {
      .timeline__item{
        align-items: start;
      }
      .timeline__text{
        width: 100%;
      }
    }
    &__left {
      margin-right: 0;
      position: static;
      margin-bottom: 25px;
    }
    // .timeline {
    //   flex-direction: column;
    // }
  }
}
