.contacts{
    @include max-width-blocks;
    margin-top: 30px;
    iframe{
        height: 82svh;
    }
    .frame{
        position: relative;
        &_constacts{
            position: absolute;
            left: 0;
            top: 0;
            background-color: #F0F0F0;
            padding: 30px;
            .label{
                color: #E8AB23;
                margin-right: 5px;
            }
            p{
                font-size: var(--font-size-text);
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width:980px) {
    .contacts{
        .frame{
            &_constacts{
                position: relative;
            }
        }
    }
}